.App {
  text-align: center;
}

#root {
  background: rgb(222, 224, 224);
  background: linear-gradient(0deg, rgba(222, 224, 224, 1) 75%, rgba(247, 249, 250, 1) 100%);
  -webkit-font-smoothing: subpixel-antialiased;
}

.center-horizontally {
  position: absolute;
  height: 100vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

.hidden {
  visibility: hidden;
}